.header {
  margin-top: 60px;
}
.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: "Lora", serif; */
  font-family: "Josefin Sans", sans-serif;
}
.headerTitleSm {
  position: absolute;
  top: 37%;
  font-size: 20px;
  color: black;
  font-weight: bolder;
}
.headerTitleLg {
  position: absolute;
  top: 45%;
  font-size: 130px;
  font-weight: 600;
  color: teal;
}
.headerImg {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
